.services-desktop {
    position: relative;
    }.services-thumb {
        background: rgba(47, 48, 58, 0.8);
        padding-top: 27px;
        padding-bottom: 27px;
        position: absolute;
        bottom: 0px;
        width: 100%;
        }
        .services-text {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primary-white-color);
        }